# Reproducing Notebook

Due to the unique nature of my project and the complexities involving being able to reproduce this project using code, this notebook will predominantly be a markdown file describing the steps I took in creating this project.

# First steps: Gathering the data

Before being able to investigate any questions, I first needed to determine which datasets I would be using in this project. While many data sources were considered (some even considered and then discarded after beginning the extraction process), I eventually settled on the following sources and their respective websites. Within my documentation on Github, it is noted exactly which days I first access these sites and when I began to pull data. Versions of each site are saved locally on my computer from the day I began extraction.

**My sources:**
* American Kennel Club (AKC), Breed Popularity Statistics: https://www.akc.org/expert-advice/news/most-popular-dog-breeds-full-ranking-list/;
* Westminster Dog Show - Best in Show: https://fwkc-web-prod.corebine.com/en/best-in-show-winners,
* The Puppybowl: http://www.animalplanet.com/tv-shows/puppy-bowl/photos/puppy-bowl-xiii-starting-lineup/,
http://www.animalplanet.com/tv-shows/puppy-bowl/photos/puppy-bowl-xii-starting-lineup/,
http://www.animalplanet.com/tv-shows/puppy-bowl/photos/xi-starting-lineup/,
http://www.animalplanet.com/tv-shows/puppy-bowl/photos/x-starting-lineup/,
http://www.animalplanet.com/tv-shows/puppy-bowl/photos/ix-starting-lineup-pictures/.
* KnowYourMeme: https://knowyourmeme.com/.
* Wikipedia: https://www.wikipedia.org.

**Pulling the data**
My data was gathered in several different ways. For Westminster and AKC, the data was available in tabular format and easily copy/pasted into Excel to then be cleaned. KnowYourMeme data was gathered manually and entered into an Excel file. For KnowYourMeme, "dog" was searched within the database. Any memes marked as "confirmed" by the site were noted, along with the year associated with their emergence and the dog breed associated with said meme. For example, the "Doge" meme, sporting a Shiba Inu, first appeared in 2010, only to pick up popularity in 2013. The PuppyBowl data, pulled from the starting lineups from the past 5 years. This data was pulled using an XPath expression: //span[@class='more-information global-description']/span/text(). The results were then copy/pasted into an Excel file to then be cleaned. Finally, the Wikipedia data was accessed utilizing a JSON script written by Elizabeth Wickes. The resulting JSON files were then read in using Python and exported to Excel for cleaning purposes.

# American Kennel Club

This data file possessed very minimal cleaning. It was uploaded into OpenRefine. This data was text faceted, compared, and then hand-edited as a means of spell checking and identifying that each data point present was unique. The cleaned data was then exported to a new Excel file. In total, the cleaning of this dataset took approximately 10 to 15 minutes. The cleaned file can be found below. Only the data from 2017 was used in the final dataset.

In [21]:
import pandas as pd
akc = pd.read_excel("AKC_Popularity_Rankings.xlsx")
akc.head()

,Breed,2017 Rank,2016 Rank,2015 Rank,2014 Rank,2013 Rank
0,Retrievers (Labrador),1,1.0,1.0,1.0,1.0
1,German Shepherd Dogs,2,2.0,2.0,2.0,2.0
2,Retrievers (Golden),3,3.0,3.0,3.0,3.0
3,French Bulldogs,4,6.0,6.0,9.0,11.0
4,Bulldogs,5,4.0,4.0,4.0,5.0

# Westminster Dog Show

Minimal cleaning was necessary for this dataset. Several rows that were indicated as missing data were edited out in Excel prior to being uploaded into OpenRefine. Once in OpenRefine, rows deemed unnecessary (name of dog, names of owners, and names of judges) were removed. This left just the breed data. Whitespace was removed. The breed column was then text faceted and evaluated to detect any spelling inconsistencies. Once cleaned, the data was then exported to a new Excel file and then sorted alphabetically in preparation for combining data. In total, the cleaning took approximately 5 to 10 minutes total to complete.

The data is stored in an Excel file. The cleaned file only includes one column (dog breed) and 112 rows. The column is the names of each dog breed and each row reflects a winning dog. The information in this column is textual and is being treated as categorical.

There is a single column in the cleaned version of this dataset. This column contains 112 rows. This singular column contains the breed of the dog that won the Westminster Dog Show from 1907 until 2017 (the 2018 awards had not yet taken place when the data was extracted). There are missing values in this dataset.

In [22]:
westminster = pd.read_excel("Cleaned_Westminster.xlsx")
westminster.head()

   YEAR               BREED
0  1907  Smooth Fox Terrier
1  1908  Smooth Fox Terrier
2  1909  Smooth Fox Terrier
3  1910  Smooth Fox Terrier
4  1911    Scottish Terrier

# The Puppybowl

This data source required quite a bit of cleaning, all of which was done in either Execl or OpenRefine, with each year possessing its own specific data cleaning needs. Years 10 and 11 were separated by colons as deliminators. Years 12 - 15 were separated by slashes (however, also contained colons indication name, breed, sex, and location). The first pass of restructuring the data, not to be separated by punctuation but placed into individual columns, occured in Excel. This largely separated out what I needed, but extensive cleaning still needed to occur. Each dataset was uploaded individually into OpenRefine.

All files ended up with unnecessary columns that were removed, such as name, sex, fun fact, and age. For X, due to the delimination, the text within "Breed" all ended with the word "Sex" appended at the end. Using a simple Python script, I removed the word from the Breed column. Additionally, a few of the longer breed names had their information cut off when text was initially extracted from the website, so I manually added the final letters to complete the breed names when needed. XI ended up with "Breed: " before the names of each breed which, likewise, was removed using Python within OpenRefine. XII had the most cleaning involved, as the raw data included missing values. Within the raw data, the second column represented team name. However, not every dog had a team name entered. Therefore, some values from the third column, Breed, ended up populating the second column. Since this dataset was relatively small, the migration from one column to the next was done by hand. XIII and XIV were the easiest to clean, as the raw data separated cleanly once parsed by deliminator. However, these later years denoted mixed breed by using "-" instead of the earlier "/". I ran a simple Python script to replace all instances of "-" with "/" to create uniformity across all datasets.

Each dataset was then text faceted individually to check spelling. Once cleaned, all five files were exported into new Excel files. The data from these were all taken and then combined into a master file. This was then once again uploaded into OpenRefine. The master file had all of the whitespaces removed and then I once again text faceted to ensure spelling was correct and uniform. Once exported back into Excel, the column was sorted alphabetically in preparation for being added to the combined file. Entirely, this cleaning process took approximately 4 hours.

**This first example is of an uncleaned dataset: XII**

In [23]:
xii_lineup = pd.read_excel("XII_Lineup.xlsx")
xii_lineup.head()

,Name,Team,Breed,Sex,Age,Unnamed: 5
0,Name: Atticus,Breed: Husky / Labrador,Sex: Female,Age: 12 weeks …,NaN,NaN
1,Name: Bella,Team: Ruff,Breed: Rat Terrier,Sex: Female,Age: 20 …,NaN
2,Name: Bijoux,Team: Fluff,Breed: Great Dane,Sex: Female,Age: 12…,NaN
3,Name: Boris,Breed: Havanese,Sex: Male,Age: 16 weeks,Shelter: F…,NaN
4,Name: Brooklyn,Breed: German Shepherd,Sex: Female,Age: 13 weeks …,NaN,NaN

**The following is an example of the same dataset cleaned**

In [24]:
copy_xii_lineup = pd.read_excel("Copy of XII_Lineup.xlsx")
copy_xii_lineup.head()

       Name             Breed
0   Atticus  Husky / Labrador
1     Bella       Rat Terrier
2    Bijoux        Great Dane
3     Boris          Havanese
4  Brooklyn   German Shepherd

**The following is the master file of combined Puppybowl Data**

In [25]:
master = pd.read_excel("Combined_Datafiles.xlsx")
master.head()

    Labrador Retriever/Terrier Mix
0                           Poodle
1      Labrador Retriever/Sato Mix
2                            Boxer
3                        Dalmatian
4  Bernese Mountain Dog/Poodle Mix

# KnowYourMeme

This data required quite a bit of curation but very minimal cleaning. Even though this data was compiled straight from the website into Excel by hand, the dataset was still uploaded into OpenRefine to clean any whitespaces, double check spelling, and ensure the uniformity in the date formats. In total, the cleaning aspect of this process took maximum 5 minutes, as there were very few data points being utilized in this set.

In [26]:
meme = pd.read_excel("GenericDogMemes_Breeds_Year.xlsx")
meme.head()

            Meme Name    Associated Breed     Associated Date
0                Doge           Shiba Inu  2010 (spread 2013)
1        Doggo (term)                 NaN  2014 (spread 2015)
2  Sleep Tight Pupper           Chihuahua                2015
3             Pun Dog    Alaskan Klee Kai                2012
4         Cupcake Dog  Australian Shepard                2009

# Beginning Combined Datasets

Using the AKC rankings from 2017, the previously mentioned datasets were combined together. The number of breeds represented in the datasets were counted, and a combined dataset was created.

In [27]:
combined = pd.read_excel("CombinedData.xlsx")
combined.head()

,Breed (2017 Ranked Listing),Breed Class,PuppyBowl_Number Contestants (Last 5 Years),Westminster (all time),Memes
0,Retrievers (Labrador),NaN,11,0,1.0
1,German Shepherd Dogs,NaN,4,2,NaN
2,Retrievers (Golden),NaN,1,0,2.0
3,French Bulldogs,NaN,1,0,NaN
4,Bulldogs,NaN,2,2,NaN

This data was then filtered based on which columns possessed the most representation across the board.

In [28]:
text = open("Dogs_to_Search.txt", "r")
readtext = text.read()
print(readtext)

Labrador Retrievers
German Shepherd Dogs
Golden Retrievers
Bulldogs
Beagles
Poodles
Yorkshire Terriers
Boxers
Siberian Huskies
Pembroke Welsh Corgis * just search as corgi
Doberman Pinschers
Australian Shepherds
Shih Tzu
Pomeranians
English Springer Spaniels
Cocker Spaniels
Pugs
Chihuahuas
Shiba Inu
Bichons Frises
Papillons
Pekingese
Brussels Griffons
Wire Fox Terriers

Since I was now only working with a select number of dog breeds, I altered my combined dataset to resemble this. The Breed Class column shown in the dataset below was added after using AKC records based on a recommendation by Elizabeth Wickes. This did not come from a database but was manually compiled.

In [29]:
final = pd.read_excel("FilteredDog_Dataset_Combined.xlsx")
final.head()

,Ranked Number (AKC),Breed Name,Breed Class (AKC),PuppyBowl_Number Contestants (Last 5 Years),Westminster (all time),KnowYourMeme,Wiki_Path
0,1,Retriever (Labrador),Sporting,11,0,1,labresults.json
1,2,German Shepherd Dogs,Herding/Guardian,4,2,0,germanshepresults.json
2,3,Retrievers (Golden),Sporting,1,0,2,goldenretresults.json
3,5,Bulldogs,Non-sporting,2,2,0,bulldogresults.json
4,6,Beagles,Hound,3,2,0,beagleresults.json

# Wikipedia

This dataset will likely require some of the most time intensive cleaning and curation. The alphabetized files from other datasets were then run and the counts for each dog breed mentioned was determined. This data was then input into a master file, combining the breeds (in ranked order) from AKC, with columns denoting PuppyBowl, Westminster, and Memes. The rows were filled with how many times each breed was mentioned in each dataset. For example, the Boxer, ranked 11th on AKC popularity, occurred 4 times in the last 5 years of the PuppyBowl, 4 times in Westminster Dog Show, and 1 time in KnowYourMeme. Dogs that possessed data in two or more categories were flagged. Those flagged breeds were then ran through code, received from Elizabeth Wickes, pertaining to the Wikipedia API. This code specifically pulls the namespace, page id, page title, page size, word count, a snippet, and timestamp of last edit and creates a combined JSON file. These 24 breed names then output 24 JSON files of various size.

Wikipedia JSON extraction code was written by and belongs to Elizabeth Wickes (Github: elliewix). The Wikimedia Foundation owns the wikipedia.org domain being utilzied for this project, however it us unclear who owns individual Wikipedia pages and their respective contents.

I ran my filtered results through Elizabeth's extraction code, resulting in a number of JSON files. To get data from all files into a single .csv file, I used the following code:

In [30]:
import json
import csv
import os
import glob

allfiles = glob.glob('*.json')

print(allfiles)
# import os
# going to create a list i.e. listdir(source)
# for file in filepath + file
allrows = []
for path in allfiles:

    infile = open(path, "r")
    text = infile.read()
    infile.close()

    data = json.loads(text)

    for record in data:
        row = []
        row.append(path)
        pagetitle = record['title'].encode('utf-8')
        pageid = record['pageid']
        wordcount = record['wordcount']
        snippet = record['snippet'].encode('utf-8')
        row.append(pagetitle)
        row.append(pageid)
        row.append(wordcount)
        row.append(snippet)
        allrows.append(row)

headers = ['path','pagetitle', 'pageid', 'wordcount', 'snippet']

with open('allresults.csv', 'w', newline='') as outfile:
    csvout = csv.writer(outfile)
    csvout.writerow(headers)
    csvout.writerows(allrows)

['aussieresults.json', 'beagleresults.json', 'bichonresults.json', 'boxerresults.json', 'brusselsresults.json', 'bulldogresults.json', 'chihuahuaresults.json', 'cockerspanielresults.json', 'corgiresults.json', 'dobermanresults.json', 'englishspringerresults.json', 'germanshepresults.json', 'goldenretresults.json', 'labresults.json', 'papillonresults.json', 'pekingeseresults.json', 'pomeranianresults.json', 'poodleresults.json', 'pugresults.json', 'shibaresults.json', 'shih2results.json', 'shihresults.json', 'sibhuskresults.json', 'wirefoxresults.json', 'yorkshireterrierresults.json']

The Python script above was written grabbing the filepaths of each breed JSON file, and exported select information (file name, page id, page title, word count, and snippet) to a new Excel file. This file contains upwards of 15,000 total rows. As suggested by Elizabeth, a Keep column was added. As I go through each file name, I indicate by hand "t" for true or "f" for false. While some pages are obvious in respect to their inclusion, (i.e. the page "Pembroke Welsh Corgi" should be kept), others are harder to judge and may require actually looking up the page on Wikipedia to determine its status. Once completed, all of the "t"s will be filtered out and exported to a new file. This new file will be my official Wikipedia dataset. So far, I have spent upwards of 8 hours on this cleaning aspect. This is a first pass, meaning that the t/f markings are based on initial impression / what I can determine just looking at the information provided within the .csv file.

In [31]:
nov = pd.read_csv("allresults_nov7.csv", encoding='latin-1')
nov.head()

,path,pagetitle,pageid,wordcount,Keep,snippet
0,corgiresults.json,"b""101 Dalmatians II: Patch's London Adventure""",1730084,2022,f,"b'strong, brave, and faithful <span class=""sea..."
1,germanshepresults.json,"b""101 Dalmatians II: Patch's London Adventure""",1730084,2022,f,"b'starry-eyed, naive ways to become a strong, ..."
2,goldenretresults.json,"b""2002\xe2\x80\x9303 St. Francis Terriers men'...",43361186,157,f,"b'Center\xc2\xa0(425) Hackensack, NJ January 1..."
3,goldenretresults.json,"b""2007\xe2\x80\x9308 Georgetown Hoyas men's ba...",14518554,4858,f,b'County (UMBC) in the first round. The Hoyas ...
4,bulldogresults.json,"b""2011\xe2\x80\x9312 Butler Bulldogs men's bas...",29627686,1382,f,"b'The 2011\xe2\x80\x9312 Butler <span class=""s..."

# Creating the Final File

First, I extracted only the entries where the Keep column indicated "t" for True.

In [32]:
true_nov = nov[ nov["Keep"] == "t" ]

Then, I created the two final columns that I wished to utilize, wiki_pages and wiki_count. wiki_pages counts the number of pages present for each breed. wiki_count sums the wordcounts for each page based on breed.

In [33]:
wiki_pages = true_nov.groupby("path")['pageid'].count()
wiki_pages = wiki_pages.to_frame().reset_index()
wiki_pages

                            path  pageid
0             aussieresults.json       3
1             beagleresults.json      19
2             bichonresults.json       2
3              boxerresults.json       2
4           brusselsresults.json       1
5            bulldogresults.json       6
6          chihuahuaresults.json      12
7      cockerspanielresults.json       3
8              corgiresults.json       6
9           dobermanresults.json       4
10   englishspringerresults.json       4
11        germanshepresults.json      15
12         goldenretresults.json      17
13               labresults.json      10
14          papillonresults.json       1
15         pekingeseresults.json       3
16        pomeranianresults.json       2
17            poodleresults.json       8
18               pugresults.json       6
19             shibaresults.json       5
20              shihresults.json       5
21           sibhuskresults.json       3
22           wirefoxresults.json       1
23  yorkshireterrierresults.json       1

In [34]:
wiki_count = true_nov.groupby("path")['wordcount'].sum()
wiki_count = wiki_count.to_frame().reset_index()
wiki_count

                            path  wordcount
0             aussieresults.json       8126
1             beagleresults.json      48701
2             bichonresults.json       3627
3              boxerresults.json       5079
4           brusselsresults.json        997
5            bulldogresults.json       5067
6          chihuahuaresults.json      11562
7      cockerspanielresults.json       4115
8              corgiresults.json       9678
9           dobermanresults.json       3491
10   englishspringerresults.json       4421
11        germanshepresults.json      16449
12         goldenretresults.json      22060
13               labresults.json       8834
14          papillonresults.json       1632
15         pekingeseresults.json       3442
16        pomeranianresults.json       3287
17            poodleresults.json      13167
18               pugresults.json       6772
19             shibaresults.json       9271
20              shihresults.json       8981
21           sibhuskresults.json       4782
22           wirefoxresults.json       1961
23  yorkshireterrierresults.json       5480

Then, I called in the pre-created final dataset and added these new columns:

In [35]:
final_combo = pd.read_excel("FilteredDog_Dataset_Combined.xlsx")
final_combo.head()

,Ranked Number (AKC),Breed Name,Breed Class (AKC),PuppyBowl_Number Contestants (Last 5 Years),Westminster (all time),KnowYourMeme,Wiki_Path
0,1,Retriever (Labrador),Sporting,11,0,1,labresults.json
1,2,German Shepherd Dogs,Herding/Guardian,4,2,0,germanshepresults.json
2,3,Retrievers (Golden),Sporting,1,0,2,goldenretresults.json
3,5,Bulldogs,Non-sporting,2,2,0,bulldogresults.json
4,6,Beagles,Hound,3,2,0,beagleresults.json

Using the merge function in pandas, I was able to "join" on the JSON file path names and append my new columns to my final dataset:

In [36]:
df_merge1 = pd.merge(final_combo, wiki_pages, how = "left", left_on = "Wiki_Path", right_on = "path")
df_merge1.head()

,Ranked Number (AKC),Breed Name,Breed Class (AKC),PuppyBowl_Number Contestants (Last 5 Years),Westminster (all time),KnowYourMeme,Wiki_Path,path,pageid
0,1,Retriever (Labrador),Sporting,11,0,1,labresults.json,labresults.json,10
1,2,German Shepherd Dogs,Herding/Guardian,4,2,0,germanshepresults.json,germanshepresults.json,15
2,3,Retrievers (Golden),Sporting,1,0,2,goldenretresults.json,goldenretresults.json,17
3,5,Bulldogs,Non-sporting,2,2,0,bulldogresults.json,bulldogresults.json,6
4,6,Beagles,Hound,3,2,0,beagleresults.json,beagleresults.json,19

In [37]:
df_merge2 = pd.merge(df_merge1, wiki_count, how = "left", left_on = "Wiki_Path", right_on = "path")
df_merge2.head()

,Ranked Number (AKC),Breed Name,Breed Class (AKC),PuppyBowl_Number Contestants (Last 5 Years),Westminster (all time),KnowYourMeme,Wiki_Path,path_x,pageid,path_y,wordcount
0,1,Retriever (Labrador),Sporting,11,0,1,labresults.json,labresults.json,10,labresults.json,8834
1,2,German Shepherd Dogs,Herding/Guardian,4,2,0,germanshepresults.json,germanshepresults.json,15,germanshepresults.json,16449
2,3,Retrievers (Golden),Sporting,1,0,2,goldenretresults.json,goldenretresults.json,17,goldenretresults.json,22060
3,5,Bulldogs,Non-sporting,2,2,0,bulldogresults.json,bulldogresults.json,6,bulldogresults.json,5067
4,6,Beagles,Hound,3,2,0,beagleresults.json,beagleresults.json,19,beagleresults.json,48701

Following this, I used the built-in function .drop to remove the repeated columns (path_x and path_y):

In [38]:
df_merge2.drop(["path_x", "path_y"], axis = 1, inplace = True)
df_merge2.head()

,Ranked Number (AKC),Breed Name,Breed Class (AKC),PuppyBowl_Number Contestants (Last 5 Years),Westminster (all time),KnowYourMeme,Wiki_Path,pageid,wordcount
0,1,Retriever (Labrador),Sporting,11,0,1,labresults.json,10,8834
1,2,German Shepherd Dogs,Herding/Guardian,4,2,0,germanshepresults.json,15,16449
2,3,Retrievers (Golden),Sporting,1,0,2,goldenretresults.json,17,22060
3,5,Bulldogs,Non-sporting,2,2,0,bulldogresults.json,6,5067
4,6,Beagles,Hound,3,2,0,beagleresults.json,19,48701

After dropping unncessary columns, I renamed the added columns to "Wiki_Num_Page" and "Wiki_Wordcount" and then wrote my data out to a new .csv:

In [39]:
final_dataset = df_merge2.rename( columns = {'pageid': 'Wiki_Num_Page', 'wordcount': 'Wiki_Wordcount'})
final_dataset.head()

,Ranked Number (AKC),Breed Name,Breed Class (AKC),PuppyBowl_Number Contestants (Last 5 Years),Westminster (all time),KnowYourMeme,Wiki_Path,Wiki_Num_Page,Wiki_Wordcount
0,1,Retriever (Labrador),Sporting,11,0,1,labresults.json,10,8834
1,2,German Shepherd Dogs,Herding/Guardian,4,2,0,germanshepresults.json,15,16449
2,3,Retrievers (Golden),Sporting,1,0,2,goldenretresults.json,17,22060
3,5,Bulldogs,Non-sporting,2,2,0,bulldogresults.json,6,5067
4,6,Beagles,Hound,3,2,0,beagleresults.json,19,48701

In [40]:
outfile = "final_dog_dataset.csv"
final_dataset.to_csv(outfile)